name: CI

on:
  push:
    branches:
      - main
  pull_request:

jobs:

  dist:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-python@v4
        with:
          python-version: "3.10"
      - uses: actions/checkout@v3
      - run: python -m pip install --upgrade pip build wheel twine
      - run: python -m build --sdist --wheel
      - run: python -m twine check dist/*

  lint:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        lint-command:
          - bandit -r . -x ./tests
          - black --check --diff .
          - flake8 .
          - isort --check-only --diff .
          - pydocstyle .
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: "3.10"
          cache: 'pip'
          cache-dependency-path: 'linter-requirements.txt'
      - run: python -m pip install -r linter-requirements.txt
      - run: ${{ matrix.lint-command }}

  pytest:
    needs:
      - lint
    strategy:
      matrix:
        os:
          - "ubuntu-latest"
        python-version:
          - "3.10"
        django-version:
          - "3.2"  # LTS
          - "4.0"
          - "4.1"
        extras:
          - "test"
        include:
          - os: "ubuntu-latest"
            python-version: "3.8"
            django-version: "3.2"
            extras: "test"
          - os: "ubuntu-latest"
            python-version: "3.9"
            django-version: "3.2"
            extras: "test"
          - os: "macos-latest"
            python-version: "3.10"
            django-version: "3.2"
            extras: "test"
          - os: "windows-latest"
            python-version: "3.10"
            django-version: "3.2"
            extras: "test"
          - os: "ubuntu-latest"
            python-version: "3.10"
            django-version: "3.2"
            extras: "test,dramatiq"
          - os: "ubuntu-latest"
            python-version: "3.10"
            django-version: "3.2"
            extras: "test,celery"
          - os: "ubuntu-latest"
            python-version: "3.10"
            django-version: "3.2"
            extras: "test,drf"
          - os: "ubuntu-latest"
            python-version: "3.10"
            django-version: "3.2"
            extras: "test,cleanup"

    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install redis
      if: matrix.os == 'ubuntu-latest'
      run: sudo apt-get install -y redis-server
    - run: python -m pip install pip~=21.0  # https://github.com/pypa/pip/issues/11133
    - run: python -m pip install .[${{ matrix.extras }}] codecov
    - run: python -m pip install django~=${{ matrix.django-version }}.0
    - run: python -m pytest
    - run: codecov
