name: Release

on:
  release:
    types: [published]

jobs:
  PyPi:

    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - uses: actions/setup-python@v6
      with:
        python-version: "3.10"
    - run: sudo apt install gettext -y
    - run: python -m pip install --upgrade pip build wheel twine
    - run: make gettext
    - run: python -m build --sdist --wheel
    - run: python -m twine upload dist/*
      env:
        TWINE_USERNAME: __token__
        TWINE_PASSWORD: ${{ secrets.TWINE_PASSWORD }}
