name: Release
on:
  release:
    types: [published]
  workflow_dispatch:
jobs:
  pypi-build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version: "3.x"
      - run: python -m pip install --upgrade pip build wheel
      - run: python -m build --sdist --wheel
      - uses: actions/upload-artifact@v6
        with:
          name: release-dists
          path: dist/
  pypi-publish:
    runs-on: ubuntu-latest
    needs:
      - pypi-build
    permissions:
      id-token: write
    steps:
      - uses: actions/download-artifact@v7
        with:
          name: release-dists
          path: dist/
      - uses: pypa/gh-action-pypi-publish@release/v1
